

/* Header section ----------------------------------------------------------------------------------------*/
// .header {
//     padding-top: 10px;
//     position:sticky;
//     top: 0;
//     display: flex;
//     height: 100px;
//     align-items: center;
//     background-color: var(--bg);
//     box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.199);
// }

.logocontainer {
    display: flex;
    justify-content: center;
    width: 35vw;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    width: 65vw;
    font-size: small;
    padding-right: 100px;
    gap: 20px;
    padding-right: 130px;
}

.btn {
    padding-top: 15px;
    text-decoration: dashed;
    width: 80px;
    color: aliceblue;
    text-align: center;
    transition: color 0.5s;
    font-family: "Montserrat";
    text-wrap: nowrap;
    border-radius:5px ;
    
}

.btn:hover {
    color: rgba(240, 248, 255, 0.651);
}

.btnadv {
    padding-top: 15px;
    width: 110px;
    min-width: 100px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    background-color: red;
    text-decoration: none;
    color: aliceblue;
    margin-left: 20px;
    transition: background-color 0.5s;
    font-family: "Montserrat";
    text-wrap: nowrap;
}

.btnadv:hover {
    background-color: rgba(255, 0, 0, 0.63);
}

.sbh {
    height: 100%;
    width: 100vw;
    position: fixed;
    right: -100vw;
    top: 0;
    display: flex;
    align-items: right;
    justify-content: flex-end;
    transition: 0.3s ease-out;
}

.sidebuttons {
    padding-top: 50px;
    position: fixed;
    top: 0;
    z-index: 999;
    height: 100%;
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: var(--fg);
    box-shadow: 0px 0px 5px var(--bg);
}

.sbtn {
    text-align: center;
    padding-top: 15px;
    text-decoration: none;
    width: 300px;
    height: 40px;
    color: aliceblue;
    transition: color 0.5s;
    font-family: "Montserrat";
    text-wrap: nowrap;
}

.sbtn:hover {
    color: rgb(1, 13, 22);
    background-color: azure;
}

.sbtnadv {
    margin-top: 40px;
    padding-top: 15px;
    width: 150px;
    text-align: center;
    height: 30px;
    border-radius: 5px;
    background-color: red;
    text-decoration: none;
    color: aliceblue;
    margin-left: 80px;
    transition: background-color 0.5s;
    font-family: "Montserrat";
    text-wrap: nowrap;
}

.sbtnadv:hover {
    background-color: rgba(255, 0, 0, 0.63);
}

.menu {
    display: none;
}


/* FOR MOBILE DEVICES###############################################################################################################*/

@media screen and (max-device-width: 846px){

    
/* Header section ----------------------------------------------------------------------------------------*/
.menu{
    display:flex;
    transition: display 2s;
    margin-right: 20px;
} 
    .close{
        margin-left: 250px;
        margin-bottom: 40px; 
    }
    .btn{
        display:none;
    }
    .btn-adv{
        display:none;
    }
    .logocontainer{
        width:60vw;
    }
        .logo{
            padding-left:50px;
        }
    }
/* FOR TABLETS###############################################################################################################*/






@media screen and (min-device-width: 768px) and (max-device-width: 1024px){
    /* Header section ----------------------------------------------------------------------------------------*/
header{              
    padding-top: 10px;  
}
    .logocontainer{  
        width:40vw; 
    }
    .buttons{ 
        width:60vw;     
    }        
}
