
textarea, input {
    width: 40vw;
    // border: 1px solid rgba(255, 255, 255, 0.356);
    background-color: black;
    border-radius: 12px;
    padding: 20px;
    font-family: "montserrat";
}



.sub {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    height: 50px;
    width: 130px;
    border-radius: 12px;
    border: none;
    font-family: "montserrat";
    transition: all 0.2s;

}

.sub:hover {
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.295);
}


