.excard{
    width: 350px;
    // height: 400px;
    // background-color: rgb(144, 4, 4);
    // box-shadow: inset 0px 0px 5px black !important;
}
.continuty{
    width: 30px;
    margin: 2px;
    background-color: rgb(144, 4, 4);
    height: 10px;
    // border-top-right-radius: 100px;
    // border-bottom-right-radius: 100px;
    border-radius: 100px;
    
}