.excard{
    width: 350px;
}
.continuty{
    width: 30px;
    border-top: 2px dashed rgba(255, 8, 8, 0.738);
    border-bottom: 2px dashed rgba(255, 8, 8, 0.738);
    height: 200px;
}
// Mobile Experience
.excardmobile{
    width: 100%;
}
.continutymobile{
    width: 70%;
    border-left: 2px dashed rgba(255, 8, 8, 0.738);
    border-right: 2px dashed rgba(255, 8, 8, 0.738);
    height: 30px;
}