@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom Global Classes */
html {    scroll-behavior: smooth;  }

.darkbg     {   background-color:rgb(0, 0, 0)               !important    }
.darkfg     {   background-color:rgba(255, 8, 8, 0.738)     !important    }
.darktext   {   color:rgba(255, 8, 8, 0.738)                !important    }
.lightbg    {   background-color:rgb(255, 255, 255)         !important    }
.lightfg    {   background-color:rgb(243, 237, 237)         !important    }
.mont       {   font-family: montserrat                       !important    }
.poppins    {   font-family: poppins                          !important    }
.textgrey   {   color:#ccd2d9c9                             !important    }
.roboto     {   font-family: "Roboto Condensed", sans-serif   !important    }

.ant-tooltip-inner{
    font-family: "Roboto Condensed", sans-serif ;
}


.hovershadow {
    font-weight: 200;
    border: 1px solid rgba(255, 8, 8, 0.738);
    box-shadow:inset 0px 0px 5px rgba(255, 8, 8, 0.738);
    transition: box-shadow 1s ease;
    /* transition: background-color 0.3s ease; */
}

.hovershadow:hover {
    border: 1px solid rgb(255, 8, 8);
    cursor: pointer;
    box-shadow:inset 0px 0px 50px rgba(255, 8, 8, 0.738);
}
.hovershadowtwo {
    font-weight: 200;
    border: 1px solid rgba(255, 8, 8, 0.738);
    border-style: dashed;
    border-width: 1.5px;
    border-radius: 0px 30px 0px 0px;
    box-shadow: 0px 0px 1px rgba(255, 8, 8, 0.738);
}

.hovershadowtwo:hover {
    border-style: groove;
    border: 1px solid rgb(255, 8, 8);
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(255, 8, 8, 0.738);
}
input,textarea{
    border:1px solid rgb(255, 8, 8);
}
input:-ms-input-placeholder{
    border:1px solid rgb(255, 8, 8);

}



















