
.dottedline{
    height: 30px;
    width: 80%;
    border: 1px solid rgba(255, 8, 8, 0.738);
    border-style: dashed;
    border-width: 1.5px;
    border-top-width: 0px;
    border-bottom-width: 0px;
}